/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #333;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 2%;
}

/*-------HEADINGS--------*/

h1,
h2,
h3,
h4 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 25px;
  text-align: center;
}

h4 {
  font-size: 80%;
  line-height: 175%;
  margin-bottom: 25px;
}

h5 {
  font-size: 90%;
  color: #888;
  padding: 10px 0;
  font-weight: 300;
}

h2:after {
  display: block;
  background-color: #f39c12;
  height: 2px;
  width: 100px;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
}

section {
  padding: 80px 0;
}

/*-------ICONS--------*/

.icon-big {
  font-size: 80px;
  display: block;
  color: #f39c12;
  text-align: center;
}

.icon-small {
  font-size: 60px;
  display: block;
  color: #f39c12;
  margin: 15px 0;
}

.icon-phone {
  font-size: 180%;
  color: #f39c12;
  position: absolute;
  top: 6.7%;
  left: 76%;
  transition: position 0.5s top 0.5s left 0.5s;
}

.icon-phone:hover {
  font-size: 300%;
  position: absolute;
  top: 5%;
  left: 75%;
}

.icon-footer {
  font-size: 40px;
  color: #f39c12;
}

/*-------PARAGRAPHS--------*/

.long-copy {
  line-height: 145%;
  width: 80%;
  margin-left: 10%;
  letter-spacing: 0.5px;
}

.box p {
  line-height: 145%;
  font-size: 90%;
}

/*-------BUTTONS--------*/

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  border: 1px solid #f39c12;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #f39c12;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #f39c12;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #d8890b;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #d8890b;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #d8890b;
  color: #fff;
}

/*  Back to home btn  */

#btn-home {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  transform: rotate(-45deg);
  cursor: pointer;
}

.icon-home {
  font-size: 60px;
  color: #f39c12;
}

/* -------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("img/hero-img.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

/* Main navigation */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 90%;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #f39c12;
}

.phone-nav {
  margin-left: 30px;
  /* transition: position 0.5s top 0.5s left 0.5s font-size 0.5s; */
}

.main-nav li .phone-nav:hover {
  border-bottom: 2px solid transparent;
}

.main-nav li .phone-nav:hover > .icon-phone {
  font-size: 300%;
  position: absolute;
  top: 5%;
  left: 75%;
}

/* Sticky navigation

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
}

.main-nav {
  margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #555;
} */

/* -------------------------------------------------- */
/* ABOUT */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* STRATEGY */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* MESSAGE */
/* -------------------------------------------------- */

.section-message {
  padding: 0;
  background: #ededed;
  position: relative;
}

blockquote {
  background: #ededed;
  font-size: 1.4em;
  width: 70%;
  font-family: Open Sans;
  font-style: italic;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 1.6;
  color: #555555;
  padding: 3em 0px 3em 200px;
  margin: auto 0;
  position: relative;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #f39c12;
  font-size: 5em;
  position: absolute;
  left: 135px;
  top: 5px;
}

blockquote span {
  display: block;
  color: #333333;
  font-family: "Lato";
  letter-spacing: 1px;
  word-spacing: 5px;
  font-weight: bold;
  margin-top: 2em;
}

.since-tag {
  height: 200px;
  width: 200px;
  display: table-cell;
  border-radius: 50%;
  background: #000;
  position: relative;
  position: absolute;
  left: 80%;
  top: 22.5%;
}

.since-tag::before {
  content: "";
  height: 205px;
  width: 205px;
  border: 3px solid #f39c12;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.since-tag p {
  font-family: "Dancing Script", cursive;
  font-size: 170%;
  color: #fff;
  line-height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------------------------------------------------- */
/* PROJECTS */
/* -------------------------------------------------- */

.section-projects {
  padding: 0;
}

.projects-grid {
  list-style: none;
  width: 100%;
  margin-top: 30px;
}

.projects-grid li {
  display: block;
  float: left;
  width: 25%;
}

.projects-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.projects-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s;
}

.projects-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/* -------------------------------------------------- */
/* CONTACT */
/* -------------------------------------------------- */

.contact-form {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  height: auto;
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 80%;
  font-weight: 300;
}

textarea {
  height: 150px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #f39c12;
}

/* -------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------- */

footer .row:first-child {
  max-width: 1400px;
}

footer {
  background-color: #222;
  padding-top: 25px;
}

.footer-nav {
  list-style: none;
  margin-top: 62px;
}

.footer-nav li {
  margin-right: 20px;
  display: inline-block;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  text-decoration: none;
  color: #888;
  font-size: 90%;
  transition: color 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.footer-copy p {
  color: #bbb;
  font-size: 70%;
  padding-top: 15px;
  line-height: 145%;
  letter-spacing: 0.2px;
}

hr {
  color: #fff;
  background-color: #888;
  height: 0.5px;
  width: 50%;
  margin: 0 auto;
  border-width: 0;
  margin-top: 60px;
}

.copyright {
  color: #888;
  font-size: 85%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 60px;
  letter-spacing: 0.5px;
}
